doctype html
html(lang=locale)
  head
    title App

    meta(charset='utf-8')

    link(
      rel='manifest'
      href='/manifest.webmanifest'
    )

    != styleTags

    script.
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js');
        });
      }

    script.
      window.__INITIAL_STATE__ = !{JSON.stringify(initialState || {})};
      window.__APOLLO_STATE__ = !{JSON.stringify(apolloState || {})};

  body
    != svgSprite

    div#root!= markup

    if bundles
      each bundle in bundles
        script(src= '/'+bundle.file type='text/javascript')

    script(src='/main.js' type='text/javascript')
    
